/* Error: Only 3 elements allowed, but 4 were passed.
 *     ,
 * 567 |     box-shadow: 0 0 20px rgba(0 0 0 0.2);
 *     |                          ^^^^^^^^^^^^^^^
 *     '
 *   scss/style.scss 567:26  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Only 3 elements allowed, but 4 were passed.\a     \2577 \a 567 \2502      box-shadow: 0 0 20px rgba(0 0 0 0.2);\a     \2502                           ^^^^^^^^^^^^^^^\a     \2575 \a   scss/style.scss 567:26  root stylesheet";
}
