/* -----------------CONTACTO-CONTACTO-CONTACO-CONTACTO------------------- */




#infoContactoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;

}

#textoContactoContainer {
    p {
        font-weight: 40px;
        width: 400px;
        text-align: center;
        margin-top: 10px;
    }

    h2 {
        font-size: 70px;
    }
}

#LogosContactoContainer {
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: space-evenly;

    img {
        width: 100px;
        height: 100px;
        margin-top: 50px;
    }

}

iframe {
    width: 100%;
    max-width: 100%;
    height: 350px;
    margin-top: 30px;

}