/* OPCIONES DE COMPRA*/

#opcionesCompra img {
    height: 70px;
    margin-top: 30px;


}

#opcionesCompra {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;

}

#opcionesCompra p {
    color: #93A3BC;
}