/*HEADER*/
.navbar {
    margin-bottom: 80px
}





.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    text-decoration:color(black)

}

.content img {
    height: 60px;
    display: none;
}


.logoNombre {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 80px;

    img {
        width: 60px;

    }
a{
    text-decoration: none;
    color: black;
}


    p {
        align-items: center;
        margin-top: 15px;

    }

    span {
        display: none;
    }
}

.navbar-brand {
    display: none;
}